body {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.header {
    max-width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 40px;
    text-align: center;
}

.header p {
    color: white;
    font-size: 15px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar__left__a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navbar__left {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px 0px;
}

.navbar__left h2 {
    margin: 0px;
    color: white;
    font-size: 40px;
}

.navbar__right {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px 0px;
}

.navbar__right__login {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.navbar__right__singup {
    padding: 12px 40px;
    background-color: white;
    color: red;
    text-decoration: none;
    border-radius: 20px;
}

.navbar__low {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.navbar__low__left {
    text-decoration: none;
    color: white;
}

.navbar__low__right {
    text-decoration: none;
    color: red;
    padding: 12px 40px;
    background-color: white;
    border-radius: 20px;
}